<!DOCTYPE html>
<html>
    <head>
    <title>Homepage</title>
    </head>
    <body>
        <h1>{{description}}</h1>
        <h2>Hello {{name}} {{lastName}}!</h2>
        <h2>{{rollNo}}</h2>
        <h2>{{role}}</h2>
        <a href="/technical">Technical</a>
        <a href = "/sports">Sports</a>
        <a href = "/cultural">Cultural</a>
        <a href="/venue_booking">Book A Venue</a>

    </body>
    
</html>